<div class="common-table">
    <div class="common-table-header row">
        <div class="common-table-cell col-30 sortable"
             data-ng-class="$ctrl.isColumnSorted('title')"
             data-ng-click="$ctrl.sortTableByColumn('title')">Title</div>
        <div class="common-table-cell col-15 sortable"
             data-ng-class="$ctrl.isColumnSorted('release_date')"
             data-ng-click="$ctrl.sortTableByColumn('release_date')">Release Date</div>
        <div class="common-table-cell col-15 sortable"
             data-ng-class="$ctrl.isColumnSorted('rt_score')"
             data-ng-click="$ctrl.sortTableByColumn('rt_score')">Rate Score</div>
        <div class="common-table-cell col-20 sortable"
             data-ng-class="$ctrl.isColumnSorted('director')"
             data-ng-click="$ctrl.sortTableByColumn('director')">Director</div>
        <div class="common-table-cell col-20 sortable"
             data-ng-class="$ctrl.isColumnSorted('producer')"
             data-ng-click="$ctrl.sortTableByColumn('producer')">Producer</div>
    </div>
    <div class="common-table-body">
        <movie-item data-ng-repeat="movie in $ctrl.movies" data-movie-item="movie" data-on-movie-select-callback="$ctrl.selectMovie($event)"></movie-item>
    </div>
</div>
