<div class="common-table-row movie-item am-row"
     data-ng-click="$ctrl.handleMovieClick()">
    <div class="common-table-cell am-col-30">{{$ctrl.movieItem.title}}</div>
    <div class="common-table-cell am-col-15">{{$ctrl.movieItem['release_date']}}</div>
    <div class="common-table-cell am-col-15">{{$ctrl.movieItem['rt_score']}}</div>
    <div class="common-table-cell am-col-20">{{$ctrl.movieItem.director}}</div>
    <div class="common-table-cell am-col-20">{{$ctrl.movieItem.producer}}</div>
</div>
